@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-subtle: 210, 20%, 98%, 1;
    --background-subtle-hover: 220, 14%, 96%, 1;
    --background-subtle-pressed: 220, 13%, 91%, 1;
    --background-base: 0, 100%, 100%, 1;
    --background-base-hover: 210, 20%, 98%, 1;
    --background-base-pressed: 220, 14%, 96%, 1;
    --background-component: 210, 17%, 95%, 1;
    --background-switch-off: 220, 13%, 91%, 1;
    --background-switch-off-hover: 216, 12%, 84%, 1;
    --background-interactive: 217, 91%, 60%, 1;
    --background-overlay: 224, 71%, 4%, 0.4;
    --background-disable: 220, 14%, 96%, 1;
    --background-highlight: 214, 100%, 97%, 1;
    --background-highlight-hover: 214, 95%, 93%, 1;
    --background-field: 210, 20%, 98%, 1;
    --background-field-hover: 220, 14%, 96%, 1;

    --foreground-base: 224, 71%, 4%, 1;
    --foreground-on-color: 0, 100%, 100%, 1;
    --foreground-on-inverted: 0, 100%, 100%, 1;
    --foreground-subtle: 215, 14%, 34%, 1;
    --foreground-interactive: 217, 91%, 60%, 1;
    --foreground-interactive-hover: 221, 83%, 53%, 1;
    --foreground-muted: 218, 11%, 65%, 1;
    --foreground-error: 347, 77%, 50%, 1;
    --foreground-disable: 216, 12%, 84%, 1;

    --border-base: 220, 13%, 91%, 1;
    --border-interactive: 217, 91%, 60%, 1;
    --border-transparent: 224, 71%, 4%, 0;
    --border-strong: 216, 12%, 84%, 1;
    --border-error: 347, 77%, 50%, 1;
    --border-loud: 224, 71%, 4%, 1;
    --border-danger: 345, 83%, 41%, 1;

    --button-inverted: 224, 71%, 4%, 1;
    --button-inverted-hover: 221, 39%, 11%, 1;
    --button-inverted-pressed: 215, 28%, 17%, 1;
    --button-inverted-gradient-from: 0, 0%, 100%, 0.16;
    --button-inverted-gradient-to: 0, 0%, 100%, 0;
    --button-neutral: 0, 0%, 100%, 1;
    --button-neutral-hover: 220, 14%, 96%, 1;
    --button-neutral-pressed: 220, 13%, 91%, 1;
    --button-neutral-gradient-from: 224, 71%, 4%, 0;
    --button-neutral-gradient-to: 224, 71%, 4%, 0.03;
    --button-danger: 347, 77%, 50%, 1;
    --button-danger-hover: 345, 83%, 41%, 1;
    --button-danger-pressed: 343, 80%, 35%, 1;
    --button-danger-gradient-from: 0, 0%, 100%, 0.16;
    --button-danger-gradient-to: 0, 0%, 100%, 0;
    --button-transparent: 0, 0%, 100%, 0.01;
    --button-transparent-hover: 220, 14%, 96%, 1;
    --button-transparent-pressed: 220, 13%, 91%, 1;

    --radius-2xsmall: 0.125rem;
    --radius-xsmall: 0.25rem;
    --radius-small: 0.375rem;
    --radius-medium: 0.5rem;
    --radius-large: 1rem;
    --radius-xlarge: 625rem;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background-subtle: 240, 4%, 10%, 1;
    --background-subtle-hover: 240, 7%, 11%, 1;
    --background-subtle-pressed: 230, 7%, 16%, 1;
    --background-base: 240, 7%, 11%, 1;
    --background-base-hover: 230, 7%, 16%, 1;
    --background-base-pressed: 223, 7%, 19%, 1;
    --background-component: 230, 7%, 16%, 1;
    --background-switch-off: 223, 6%, 22%, 1;
    --background-switch-off-hover: 210, 7%, 29%, 1;
    --background-interactive: 213, 94%, 68%, 1;
    --background-overlay: 240, 4%, 10%, 0.7;
    --background-disable: 230, 7%, 16%, 1;
    --background-highlight: 226, 57%, 21%, 1;
    --background-highlight-hover: 224, 64%, 33%, 1;
    --background-field: 230, 7%, 16%, 1;
    --background-field-hover: 223, 7%, 19%, 1;

    --foreground-base: 220, 9%, 94%, 1;
    --foreground-on-color: 0, 100%, 100%, 1;
    --foreground-on-inverted: 0, 0%, 4%, 1;
    --foreground-subtle: 218, 7%, 70%, 1;
    --foreground-interactive: 213, 94%, 68%, 1;
    --foreground-interactive-hover: 217, 91%, 60%, 1;
    --foreground-muted: 219, 6%, 44%, 1;
    --foreground-error: 351, 95%, 71%, 1;
    --foreground-disable: 217, 6%, 25%, 1;

    --border-base: 223, 7%, 19%, 1;
    --border-interactive: 213, 94%, 68%, 1;
    --border-transparent: 0, 100%, 100%, 0;
    --border-strong: 223, 6%, 22%, 1;
    --border-error: 350, 89%, 60%, 1;
    --border-loud: 220, 9%, 94%, 1;
    --border-danger: 345, 83%, 41%, 1;

    --button-inverted: 220, 9%, 94%, 1;
    --button-inverted-hover: 0, 0%, 100%, 1;
    --button-inverted-pressed: 220, 9%, 94%, 1;
    --button-inverted-gradient-from: 240, 4%, 10%, 0;
    --button-inverted-gradient-to: 240, 4%, 10%, 0.12;
    --button-neutral: 230, 7%, 16%, 1;
    --button-neutral-hover: 223, 6%, 22%, 1;
    --button-neutral-pressed: 218, 6%, 25%, 1;
    --button-neutral-gradient-from: 0, 0%, 100%, 0.06;
    --button-neutral-gradient-to: 0, 0%, 100%, 0;
    --button-danger: 343, 80%, 35%, 1;
    --button-danger-hover: 345, 83%, 41%, 1;
    --button-danger-pressed: 347, 77%, 50%, 1;
    --button-danger-gradient-from: 0, 0%, 100%, 0.1;
    --button-danger-gradient-to: 0, 0%, 100%, 0;
    --button-transparent: 0, 0%, 0%, 0.01;
    --button-transparent-hover: 230, 7%, 16%, 1;
    --button-transparent-pressed: 223, 7%, 19%, 1;

    --radius-2xsmall: 0.125rem;
    --radius-xsmall: 0.25rem;
    --radius-small: 0.375rem;
    --radius-medium: 0.5rem;
    --radius-large: 1rem;
    --radius-xlarge: 625rem;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-base text-foreground;
  }
}
